@page "/manufacturers"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using LiteTe.Data
@using LiteTe.Data
@implements IAsyncDisposable
@inject IDbContextFactory<LiteTe.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="manufacturers/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Manufacturers">
    <PropertyColumn Property="manufacturer => manufacturer.ManufacturerName" />
    <PropertyColumn Property="manufacturer => manufacturer.ManufacturerImage" />

    <TemplateColumn Context="manufacturer">
        <a href="@($"manufacturers/edit?manufacturerid={manufacturer.ManufacturerId}")">Edit</a> |
        <a href="@($"manufacturers/details?manufacturerid={manufacturer.ManufacturerId}")">Details</a> |
        <a href="@($"manufacturers/delete?manufacturerid={manufacturer.ManufacturerId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
