@page "/operationtypes/create"
@using Microsoft.EntityFrameworkCore
@using LiteTe.Data
@inject IDbContextFactory<LiteTe.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>OperationType</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="OperationType" OnValidSubmit="AddOperationType" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="operationtypename" class="form-label">OperationTypeName:</label> 
                <InputText id="operationtypename" @bind-Value="OperationType.OperationTypeName" class="form-control" /> 
                <ValidationMessage For="() => OperationType.OperationTypeName" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/operationtypes">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private OperationType OperationType { get; set; } = default!;

    protected override void OnInitialized() => OperationType ??= new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddOperationType()
    {
        using var context = DbFactory.CreateDbContext();
        context.OperationTypes.Add(OperationType);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/operationtypes");
    }
}
