@page "/categories/delete"
@using Microsoft.EntityFrameworkCore
@using LiteTe.Data
@inject IDbContextFactory<LiteTe.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Administrator")]
<PageTitle>Удалить</PageTitle>

<h1>Удалить</h1>

<p>Вы уверены что хотите удалить категорию?</p>
<div>
    <h2>Категория</h2>
    <hr />
    @if (category is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Категория</dt>
            <dd class="col-sm-10">@category.CategoryName</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Путь к изображению</dt>
            <dd class="col-sm-10">@category.CategoryImage</dd>
        </dl>
        <EditForm method="post" Model="category" OnValidSubmit="DeleteCategory" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(category is null)">Удалить</button> |
            <a href="/categories">Вернуться</a>
        </EditForm>
    }
</div>

@code {
    private Category? category;

    [SupplyParameterFromQuery]
    private int CategoryId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        category = await context.Categories.FirstOrDefaultAsync(m => m.CategoryId == CategoryId);

        if (category is null)
        {
            NavigationManager.NotFound();
        }
    }

    private async Task DeleteCategory()
    {
        using var context = DbFactory.CreateDbContext();
        context.Categories.Remove(category!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/categories");
    }
}
