@page "/suppliers"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using LiteTe.Data
@using LiteTe.Data
@implements IAsyncDisposable
@inject IDbContextFactory<LiteTe.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="suppliers/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Suppliers">
    <PropertyColumn Property="supplier => supplier.SupplierName" />
    <PropertyColumn Property="supplier => supplier.SupplierContacts" />

    <TemplateColumn Context="supplier">
        <a href="@($"suppliers/edit?supplierid={supplier.SupplierId}")">Edit</a> |
        <a href="@($"suppliers/details?supplierid={supplier.SupplierId}")">Details</a> |
        <a href="@($"suppliers/delete?supplierid={supplier.SupplierId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
